
.icon--icon-attack:before { content: '\e800'; } /* '' */
.icon--icon-beast:before { content: '\e801'; } /* '' */
.icon--icon-chaos-alt:before { content: '\e802'; } /* '' */
.icon--icon-chaos:before { content: '\e803'; } /* '' */
.icon--icon-health:before { content: '\e804'; } /* '' */
.icon--icon-toxic:before { content: '\e806'; } /* '' */
.icon--icon-water:before { content: '\e808'; } /* '' */
.icon--icon-nature:before { content: '\e809'; } /* '' */